/* Universal Selector - set border-box, zero padding and margin */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Selector - body text background colour */
body {
    background-color: #d9dcd6;
}

/*Class selector header, padding, font, background, font folour - */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* h1 selector within class=header*/
.header h1 {
    display: inline-block;
    font-size: 3em;
}

/*h1 selector within class=header OR class=seo  */
.header h1 .seo {
    color: #d9dcd6;
}

/*nav select within class=header */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

/*listed item selector within unordered list, within nav, within class=header */
.header nav ul li {
    display: inline-block;
    margin-left: 30px;
}

/*Element selector - Anchor */
a {
    color: #ffffff;
    text-decoration: none;
}

/*Element selector - Paragraph */
p {
    font-size: 1em;
}

/* Format main banner image */
.banner_image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    
}

/*Content panel sizing and display*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Content panel subsectionsizing/display */
.content_subsection {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Content subsection image alignment - left*/
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px
}

/* Content subsection image alignment -right */
.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px
}

/* Content subsection heading*/
.content_subsection h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

/*Benefits panel sizing and display*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
  
}

/*Benefits subsection margin and colour */
.benefit_subsection {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Benefits headings */
.benefit_subsection h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Benefits images*/
.benefit-img {
    display: block;
    margin: 10px auto;
    max-width: 150px; 
}

/*Footer panel sizing/display*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Footer heading*/
.footer h2 {
    font-size: 1em;
}
